tr:nth-child(even){
  background: #ddd;
}
.parent{
  display:flex;
  flex-direction:row;
  justify-content:center;
}
.child{
  border:2px solid #23A1F3;
  padding:2%;
  margin:2%;
  box-shadow:3px 3px 3px #ddd;
}
img{
  width:200px;
  height:200px;
  border-radius:30%;
  border:2px solid #ddd;
}
h3,
h2{
  text-align:center;
}
a{
  display:block;
  text-align:center;
  text-decoration:none;
  background:#23A1F3;
  color:#fff;
  padding:2%;
}
